  <div class="overflow-container bg-white px-2">
    <div class="d-inline-flex overflow-hidden" id="cardContainer">

      <!-- card elements here -->

        <div class="d-flex card my-2 me-2" style="width: 25rem; border-radius: 2rem 0 2rem 0;  background-image: url('https://images.unsplash.com/photo-1601662528567-526cd06f6582?q=80&w=3115&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); background-size: cover;">
          <div class="card-body" style="overflow: hidden;">
            <!-- bite name -->
            <h5 class="card-title fw-semibold">Pasteis de Nata</h5>
            <!-- bite location -->
            <h6 class="card-subtitle mb-2 text-body-secondary">Lisbon</h6>
            <!-- bite description -->
            &nbsp;&nbsp;<i class="fa-solid fa-quote-left fa-xl" style="color: #8e8f90;"></i>
            <div class="ms-2 mt-2">
              <p class="card-text" style="white-space: normal;"><em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;It was an awesome experience. The host cooked us a delicious tajine and even guided us through his neighborhood! We will definitely reach out to this host again.</em></p>
            </div>
            <div class="d-flex justify-content-end center align-items-end me-2">
              <i class="fa-solid fa-quote-right fa-xl" style="color: #8e8f90;"></i>
            </div>
            <!-- link to the guest profile -->
          </div>
          <div class="d-flex flex-column align-items-end" style="padding: 16px;">
            <a href="#" class="card-link fw-medium text-secondary">Ana Madeira</a>
            <!-- date of the review -->
            <p>25 February 2024</p>
          </div>
        </div>

        <div class="d-flex card my-2 me-2" style="width: 25rem; border-radius: 2rem 0 2rem 0;  background-image: url('https://images.unsplash.com/photo-1601662528567-526cd06f6582?q=80&w=3115&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); background-size: cover;">
          <div class="card-body" style="overflow: hidden;">
            <!-- bite name -->
            <h5 class="card-title fw-semibold">Hummus Falafel</h5>
            <!-- bite location -->
            <h6 class="card-subtitle mb-2 text-body-secondary">Turin</h6>
            <!-- bite description -->
            &nbsp;&nbsp;<i class="fa-solid fa-quote-left fa-xl" style="color: #8e8f90;"></i>
            <div class="ms-2 mt-2">
              <p class="card-text" style="white-space: normal;"><em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We had a fantastic time exploring the local markets with our host. They shared their favorite spots for fresh produce and even taught us some cooking tips! We can't wait to visit again and experience more of their hospitality.</em></p>
            </div>
            <div class="d-flex justify-content-end center align-items-end me-2">
              <i class="fa-solid fa-quote-right fa-xl" style="color: #8e8f90;"></i>
            </div>
            <!-- link to the guest profile -->
          </div>
          <div class="d-flex flex-column align-items-end" style="padding: 16px;">
            <a href="#" class="card-link fw-medium text-secondary">Ahmed Bouguacha</a>
            <!-- date of the review -->
            <p>25 February 2024</p>
          </div>
        </div>

        <div class="d-flex card my-2 me-2" style="width: 25rem; border-radius: 2rem 0 2rem 0;  background-image: url('https://images.unsplash.com/photo-1601662528567-526cd06f6582?q=80&w=3115&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); background-size: cover;">
          <div class="card-body" style="overflow: hidden;">
            <!-- bite name -->
            <h5 class="card-title fw-semibold">Cataplana</h5>
            <!-- bite location -->
            <h6 class="card-subtitle mb-2 text-body-secondary">Sesimbra</h6>
            <!-- bite description -->
            &nbsp;&nbsp;<i class="fa-solid fa-quote-left fa-xl" style="color: #8e8f90;"></i>
            <div class="ms-2 mt-2">
              <p class="card-text" style="white-space: normal;"><em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Our host took us on an unforgettable hike through the breathtaking countryside. Along the way, they shared stories about the area's history and pointed out hidden gems. It was an enriching experience, and we look forward to returning for more adventures.</em></p>
            </div>
            <div class="d-flex justify-content-end center align-items-end me-2">
              <i class="fa-solid fa-quote-right fa-xl" style="color: #8e8f90;"></i>
            </div>
            <!-- link to the guest profile -->
          </div>
          <div class="d-flex flex-column align-items-end" style="padding: 16px;">
            <a href="#" class="card-link fw-medium text-secondary">André Costa</a>
            <!-- date of the review -->
            <p>25 February 2024</p>
          </div>
        </div>

        <div class="d-flex card my-2 me-2" style="width: 25rem; border-radius: 2rem 0 2rem 0;  background-image: url('https://images.unsplash.com/photo-1601662528567-526cd06f6582?q=80&w=3115&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); background-size: cover;">
          <div class="card-body" style="overflow: hidden;">
            <!-- bite name -->
            <h5 class="card-title fw-semibold">Boeuf Borguinon</h5>
            <!-- bite location -->
            <h6 class="card-subtitle mb-2 text-body-secondary">SeSingapura</h6>
            <!-- bite description -->
            &nbsp;&nbsp;<i class="fa-solid fa-quote-left fa-xl" style="color: #8e8f90;"></i>
            <div class="ms-2 mt-2">
              <p class="card-text" style="white-space: normal;"><em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Staying with our host was the highlight of our trip. They went above and beyond to ensure we had a memorable stay, from preparing delicious homemade meals to organizing fun activities in the area. We left feeling refreshed and grateful for such warm hospitality. We'll definitely be back!</em></p>
            </div>
            <div class="d-flex justify-content-end center align-items-end me-2">
              <i class="fa-solid fa-quote-right fa-xl" style="color: #8e8f90;"></i>
            </div>
            <!-- link to the guest profile -->
          </div>
          <div class="d-flex flex-column align-items-end" style="padding: 16px;">
            <a href="#" class="card-link fw-medium text-secondary">Ivan Oliynyk</a>
            <!-- date of the review -->
            <p>25 February 2024</p>
          </div>
        </div>

        <div class="d-flex card my-2 me-2" style="width: 25rem; border-radius: 2rem 0 2rem 0;  background-image: url('https://images.unsplash.com/photo-1601662528567-526cd06f6582?q=80&w=3115&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); background-size: cover;">
          <div class="card-body" style="overflow: hidden;">
            <!-- bite name -->
            <h5 class="card-title fw-semibold">Pasteis de Nata</h5>
            <!-- bite location -->
            <h6 class="card-subtitle mb-2 text-body-secondary">Lisbon</h6>
            <!-- bite description -->
            &nbsp;&nbsp;<i class="fa-solid fa-quote-left fa-xl" style="color: #8e8f90;"></i>
            <div class="ms-2 mt-2">
              <p class="card-text" style="white-space: normal;"><em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;It was an awesome experience. The host cooked us a delicious tajine and even guided us through his neighborhood! We will definitely reach out to this host again.</em></p>
            </div>
            <div class="d-flex justify-content-end center align-items-end me-2">
              <i class="fa-solid fa-quote-right fa-xl" style="color: #8e8f90;"></i>
            </div>
            <!-- link to the guest profile -->
          </div>
          <div class="d-flex flex-column align-items-end" style="padding: 16px;">
            <a href="#" class="card-link fw-medium text-secondary">Ana Madeira</a>
            <!-- date of the review -->
            <p>25 February 2024</p>
          </div>
        </div>

      </div>
    </div>
  </div>
