  <div class="overflow-container">
    <div class="d-inline-flex overflow-hidden" id="cardContainer">

      <!-- card elements here -->

        <div class="d-flex card m-2" style="width: 25rem;">
          <div class="card-body" style="overflow: hidden;">
            <!-- bite name -->
            <h5 class="card-title fw-semibold">Pasteis de Nata</h5>
            <!-- bite location -->
            <h6 class="card-subtitle mb-2 text-body-secondary">Lisbon</h6>
            <!-- bite description -->
            <p class="card-text" style="white-space: normal;"><em>It was an awesome experience. The host cooked us a delicious tajine and even guided us through his neighborhood! We will definitely reach out to this host again.</em></p>
            <!-- link to the guest profile -->
          </div>
          <div class="d-flex flex-column align-items-end" style="padding: 16px;">
            <a href="#" class="card-link fw-medium text-secondary">Ana Madeira</a>
            <!-- date of the review -->
            <p>25 February 2024</p>
          </div>
        </div>

        <div class="d-flex card m-2" style="width: 25rem;">
          <div class="card-body" style="overflow: hidden;">
            <!-- bite name -->
            <h5 class="card-title fw-semibold">Hummus Falafel</h5>
            <!-- bite location -->
            <h6 class="card-subtitle mb-2 text-body-secondary">Turin</h6>
            <!-- bite description -->
            <p class="card-text" style="white-space: normal;"><em>We had a fantastic time exploring the local markets with our host. They shared their favorite spots for fresh produce and even taught us some cooking tips! We can't wait to visit again and experience more of their hospitality.</em></p>
            <!-- link to the guest profile -->
          </div>
          <div class="d-flex flex-column align-items-end" style="padding: 16px;">
            <a href="#" class="card-link text-secondary">Ahmed Bouguacha</a>
            <!-- date of the review -->
            <p>25 February 2024</p>
          </div>
        </div>

        <div class="d-flex card m-2" style="width: 25rem;">
          <div class="card-body" style="overflow: hidden;">
            <!-- bite name -->
            <h5 class="card-title fw-semibold">Cataplana</h5>
            <!-- bite location -->
            <h6 class="card-subtitle mb-2 text-body-secondary">Paris</h6>
            <!-- bite description -->
            <p class="card-text" style="white-space: normal;"><em>Our host took us on an unforgettable hike through the breathtaking countryside. Along the way, they shared stories about the area's history and pointed out hidden gems. It was an enriching experience, and we look forward to returning for more adventures.</em></p>
          </div>
          <div class="d-flex flex-column align-items-end" style="padding: 16px;">
            <a href="#" class="card-link fw-medium text-secondary">André Costa</a>
            <!-- date of the review -->
            <p>25 February 2024</p>
          </div>
        </div>

        <div class="d-flex card m-2" style="width: 25rem;">
          <div class="card-body" style="overflow: hidden;">
            <!-- bite name -->
            <h5 class="card-title fw-semibold">Boeuf Borguinon</h5>
            <!-- bite location -->
            <h6 class="card-subtitle mb-2 text-body-secondary">Singapura</h6>
            <!-- bite description -->
            <p class="card-text" style="white-space: normal;"><em>Staying with our host was the highlight of our trip. They went above and beyond to ensure we had a memorable stay, from preparing delicious homemade meals to organizing fun activities in the area. We left feeling refreshed and grateful for such warm hospitality. We'll definitely be back!</em></p>
            <!-- link to the guest profile -->
          </div>
          <div class="d-flex flex-column align-items-end" style="padding: 16px;">
            <a href="#" class="card-link fw-medium text-secondary">Ivan Oliynik</a>
            <!-- date of the review -->
            <p>25 February 2024</p>
          </div>
        </div>

        <div class="d-flex card m-2" style="width: 25rem;">
          <div class="card-body" style="overflow: hidden;">
            <!-- bite name -->
            <h5 class="card-title fw-semibold">Pasteis de Nata</h5>
            <!-- bite location -->
            <h6 class="card-subtitle mb-2 text-body-secondary">Lisbon</h6>
            <!-- bite description -->
            <p class="card-text" style="white-space: normal;"><em>It was an awesome experience. The host cooked us a delicious tajine and even guided us through his neighborhood! We will definitely reach out to this host again.</em></p>
            <!-- link to the guest profile -->
          </div>
          <div class="d-flex flex-column align-items-end" style="padding: 16px;">
            <a href="#" class="card-link fw-medium text-secondary">Ivan Oliynik</a>
            <!-- date of the review -->
            <p>25 February 2024</p>
          </div>
        </div>

      </div>
    </div>
  </div>
