<div class="footer-bottom navbar-light footer-lewagon" style="background-color: rgba(202,157,157);">
    <div class="container-fluid" style="min-height: 200px; overflow: auto;">
    <div class="row">
      <div class="col-12 col-sm-4 mt-4 ml-4 text-white">
        <h5 class="h5-margin">Our Team</h5>
        <ul class="github-list">
          <li><a href="https://github.com/AnaMadeira1988" target="_blank" class="github-link"><i class="fab fa-github"></i> Ana Madeira</a></li>
          <li><a href="https://github.com/Andrecondecosta" target="_blank" class="github-link"><i class="fab fa-github"></i> André Costa</a></li>
          <li><a href="https://github.com/Bouhmid-codes" target="_blank" class="github-link"><i class="fab fa-github"></i> Ahmed Bouguacha</a></li>
          <li><a href="https://github.com/Barjakall" target="_blank" class="github-link"><i class="fab fa-github"></i> Ivan Oliynyk</a></li>
        </ul>
      </div>
      <div class="col-12 col-sm-4 text-center" style="margin-top: 4rem;">
        <%= link_to bites_path, class: "footer-brand" do %>
          <%= image_tag "logo2.png", style: "width: 300px;" %>
        <% end %>
      </div>
      <div class="col-12 col-sm-3 mt-4 offset-sm-1">
        <h5 class="text-center text-white">About Us</h5>
        <p class="text-white">Welcome to Grab'a'Bite! Our Le Wagon-inspired team blends coding and connection to turn meals into friendships. Join our journey where tech meets the joy of savoring cultural connections.</p>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <p class="text-white">© 2024 Grab'a'Bite. All rights reserved.</p>
      </div>
    </div>
  </div>
</div>
