.custom-rounded-top {
  border-radius: 2rem 2rem 0 0;
}

.custom-rounded-bottom {
  border-radius: 0 0 2rem 2rem;
}

.booked-bites {
  border: 2px solid #8cbdb9 !important;
}
.pending-bites {
  border: 2px solid #F6B17A !important;
}
.open-bites {
  border: 2px solid #C7DCA7 !important;
}

.favourite-bites {
  border: 2px solid #ff4469 !important;
}

.other-bites {
  border: 2px solid #adadad !important;
}
