.filter-button {
  font-size: large;
  border-color: rgb(167, 93, 93);
  border-radius: 2px;

    &:hover {
    background-color: rgb(167, 93, 93);
    color: white;
    box-shadow: 0 0 20px 0 rgba(167, 93, 93, 0.5);
  }
}
