.footer-bottom {
  margin-top: auto;
  flex-shrink: 0;
}

.footer-lewagon .footer-brand img {
  width: 110px;
}

.footer-lewagon {
  justify-content: space-between;
  background: rgb(145, 187, 28);
}

.github-link {
  color: white;
  text-decoration: none;
}

.github-list {
  list-style-type: none;
}

.h5-margin {
  margin-left: 30px;
}
