.banner-landing {
  background-size: cover;
  background-position: center;
  height: 800px; /* Set the desired height */
  width: 100%; /* Occupy the whole width of the screen */
  padding: 0; /* Remove previous padding */
}

.landing-top-buttons {
  position: absolute;
  top: 10px;
  right: 10px;
}

.banner-text {
  position: absolute;
  top: 110px;
  left: 50%;
  transform: translateX(-50%);
}

#grababite-name {
  font-size: 85px;
  color: rgba(100, 100, 100, 0.9);
  font-weight: bold;
  margin: 0;
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 1px 1px #FFC0CB;
}

#grababite-moto {
  font-size: 40px;
  color: rgba(145, 131, 131, 0.777);
  font-weight: bold;
  margin: 0;
  font-family: "PT Serif", serif;
  font-weight: 200;
  font-style: normal;
  text-shadow: 1px 1px rgb(79, 77, 77);
}

#grababite-submoto {
  color: rgba(40, 37, 37, 0.493);
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  font-family: "Salsa";
  font-weight: 400;
  font-style: normal;
}

.container-landing-img {
  max-width: 1200px;
}

.img-grid {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
  margin-top: -130px;
  left: 50%;
  transform: translateX(-50%);
}

.bites-title {
  font-size: 40px;
  color: rgba(23, 22, 22, 0.911);
  font-weight: bold;
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.bites-subtitle {
  font-size: 30px;
  color: rgba(23, 22, 22, 0.579);
  font-weight: bold;
  font-family: "PT Serif";
  font-weight: 400;
  font-style: normal;
}

.bite-luminosity {
  transition: filter 0.1s ease;
}

.bite-luminosity:hover {
  filter: brightness(120%);
}

.lh {
  line-height: 1.5;
}

.join-ending {
  font-size: 45px;
  font-weight: bold;
  font-family: "PT Serif";
  color: green;
}

.ending {
  font-size: 60px;
  color: rgba(2, 2, 2, 0.613);
  font-weight: bold;
  font-family: "PT Serif";
  font-weight: 400;
  font-style: normal;
}
