<% images = [ "bite_banner1.jpg","bite_banner2.jpg", "bite_banner3.jpg","bite_banner4.jpg","bite_banner5.jpg", "bite_banner6.jpg" ]%>
<%= render 'shared/banner', images: images %>

<div class="container form-sign-up border border-dark p-3 mb-4">
  <h2 class="text-center mb-3 mt-2 fw-bolder">Edit your Bite</h2>
  <%= render 'shared/bite_form_edit', bite: @bite %>
</div>
