<%= render 'shared/banner'%>

<div class="container form-sign-up border border-dark p-3 mb-4">
  <h2 class="text-center mb-3 mt-2 fw-bolder">Edit your Bite</h2>
  <%= render 'shared/bite_form_edit', bite: @bite %>
</div>
