<div class="container justify-content-center">
  <div class="cards-container justify-content-center">
    <div class="cards">
      <% @bites.each do |bite| %>
        <a data-bs-toggle="modal" data-bs-target="#biteModal<%= bite.id %>" class="link-dark link-underline link-underline-opacity-0">
          <%= render 'shared/card_index_bite', bite: bite %>
        </a>

        <!-- Creates a Modal specific to each Bite card -->
        <%= render 'shared/bite_show', bite: bite %>
      <% end %>
    </div>
  </div>
</div>

<!-- New bite Modal -->
<%= render 'shared/bite_form', bite: @bite %>
