<% images = [ "bite_banner1.jpg","bite_banner2.jpg","bite_banner3.jpg","bite_banner4.jpg", "bite_banner5.jpg", "bite_banner6.jpg" ]%>
<%= render 'shared/banner', images: images %>

<div class="container form-sign-up border p-4 mb-4">

  <%= render 'shared/new_bite_form', bite: @bite %>
</div>
