<% images = [ "banner1.jpg" ]%>
<%= render 'shared/banner', images: images %>


<div class="container w-75 border py-4 px-3 mb-4 rounded-4 bg-body-secondary" style="margin-top: -140px;">

  <%= render 'shared/show_booking', bite: @bite, guest: @guest %>



  <!-- Footer of the booking container (Containing the logic for the buttons) -->

</div>
